
$ClPrincipal:red;
$ancho:200px;
button{
 width: $ancho;
}
$primary:$ClPrincipal;
$enable-shadows:true;
$enable-gradients:true;
$enable-rounded:true;

#menu a {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(18, 204, 64);
    }
#menu button{
        font-size: 1rem;
        font-weight: bold;
       }
p{
        font-size: 3rem;
}
@import "./node_modules/bootstrap/scss/bootstrap.scss"